<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pracainzynierska">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracaInzynierska">
        <activity
            android:name=".meeting.MeetActivity"
            android:exported="true" />
        <activity
            android:name=".clients.EditClientActivity"
            android:exported="true" />
        <activity
            android:name=".clients.ShowOneClientActivity"
            android:exported="true" />
        <activity
            android:name=".projects.ShowOneProjectActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/border" />

        <activity
            android:name=".projects.EditProjectActivity"
            android:exported="true" />
        <activity
            android:name=".projects.OldProjectsActivity"
            android:exported="true" />
        <activity
            android:name=".projects.ActualProjectsActivity"
            android:exported="true" />
        <activity
            android:name=".projects.ProjectsMainPageActivity"
            android:exported="true" />
        <activity
            android:name=".clients.ClientsActivity"
            android:exported="true" />
        <activity
            android:name=".AddNewProject.AddNewProjectActivity"
            android:exported="true" />
        <activity
            android:name=".AddNewClientPage.AddNewClientActivity"
            android:exported="true" />
        <activity
            android:name=".test"
            android:exported="true" />
        <activity
            android:name=".ForgottenPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".loginPage.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>